<div class="exam-container" *ngIf="questions.length && !isFinished">
  <h2>Examen pratique — question {{ currentIndex + 1 }} / {{ questions.length }}</h2>

  <div class="timer">Temps restant : <strong>{{ timeLeft }}</strong> s</div>

  <div class="prepa-question-card">
    <div class="questions-block">
      <img [src]="retrieveImage(questions[currentIndex].photo)" alt="Image" />
    </div>

    <h3 class="prepa-question-text">
      {{ questions[currentIndex].intitule }}
    </h3>

    <div class="answers">

      <label class="answer-card">
        <input type="radio"
               name="q{{ questions[currentIndex].id }}"
               (change)="selectAnswer(questions[currentIndex].id!, 'A')"
               [checked]="userAnswers[questions[currentIndex].id] === 'A'">

        <span class="letter">A)</span>
        <span class="text">{{ questions[currentIndex].reponseA }}</span>
      </label>

      <label class="answer-card">
        <input type="radio"
               name="q{{ questions[currentIndex].id }}"
               (change)="selectAnswer(questions[currentIndex].id!, 'B')"
               [checked]="userAnswers[questions[currentIndex].id] === 'B'">

        <span class="letter">B)</span>
        <span class="text">{{ questions[currentIndex].reponseB }}</span>
      </label>

      <label class="answer-card">
        <input type="radio"
               name="q{{ questions[currentIndex].id }}"
               (change)="selectAnswer(questions[currentIndex].id!, 'C')"
               [checked]="userAnswers[questions[currentIndex].id] === 'C'">

        <span class="letter">C)</span>
        <span class="text">{{ questions[currentIndex].reponseC }}</span>
      </label>

      <label class="answer-card">
        <input type="radio"
               name="q{{ questions[currentIndex].id }}"
               (change)="selectAnswer(questions[currentIndex].id!, 'D')"
               [checked]="userAnswers[questions[currentIndex].id] === 'D'">

        <span class="letter">D)</span>
        <span class="text">{{ questions[currentIndex].reponseD }}</span>
      </label>

    </div>

  </div>







  <div class="controls">
    <button (click)="nextQuestion()">Suivant ➡️</button>
    <button (click)="finishExam()">Terminer maintenant</button>
   <!-- <label><input type="checkbox" [(ngModel)]="ttsEnabled"> Voix (lire les questions)</label>-->
  </div>
</div>

<div *ngIf="isFinished" class="exam-result-card">
  <h2 class="title">🎉 Examen terminé</h2>

  <p class="score">
    Score :
    <span class="score-value">{{ result?.score }}</span>
    /
    <span class="score-total">{{ result?.totalQuestions }}</span>
  </p>

  <div class="progress-bar-wrapper">
    <div
      class="progress-bar-fill"
      [style.width.%]="(result?.score / result?.totalQuestions) * 100">
    </div>
  </div>

  <button class="retry-btn" routerLink="/preparation">
    Recommencer un examen
  </button>
</div>
